:root {
    --gap: 1.75em;
    --content-gap: 1.75em;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 3px;
    --theme: #faf9f5;
    --entry: #f0eee6;
    --primary: #242423;
    --secondary: #6c6b68;
    --tertiary: #f0eee6;
    --content: #242423;
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: #f0eee6;
    --border: #E0DED7;
}

.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
