.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 400;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--tertiary);
    border-radius: var(--radius);
    transition: transform 0.1s;
    color:  var(--secondary);
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}
